<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title  %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/header') %>
            <h3>Skills as of <%= time %></h3>
            <ul>
                <% skills.forEach(function(t) { %>
                <li>
                    <form action="/skills/<%= t.id %>?_method=DELETE"class="delete-form" method="POST">
                        <button type="submit">X</button>
                        </form>
                        
                        <a href="/skills/<%= t.id %>"><%= t.skill %></a>
                        - 
                    <%= t.have ? 'have' : 'not have' %>
                </li>
                <% }); %>
            </ul>
            <a href="/skills/new">Add Skill</a>

    <%- include('../partials/footer') %>

  
  </body>
</html>
